/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------- Resete CSS ---------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');

body {
    background-color:blanchedalmond
}

.main-header {
    background-color: yellow;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

.h1-header {
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.main-menu {
    color: azure;
    background-color: rgb(255, 113, 31);
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

aside {
    background-color: rgb(102, 156, 255);
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

.container {
    background-color: #333;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

h1 {
    font-family: Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 20px;
    color:antiquewhite;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

small {
    color:black;
    font-family: Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 20px;
}

.artigo1 {
    color: antiquewhite;
    font-family: Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 20px;
    background-color: brown;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

.text-art1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 12px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
    background-color: green;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 90%;
}